## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"

In [ ]:
print(s.split())

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print("The diameter of {} is {} kilometeres.".format(planet, diameter))

The diameter of Earth is 12742 kilometeres.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
# Tuple is immutable
#Tuples operations are safe.
#Tuples consumes less memory.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domain(email):
    email_breakup = email.split('@')
    return email_breakup[1]

In [ ]:
print(domain('user@domain.com'))

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def contains_dog(sentence):
    words = sentence.split(' ')
    k = 0
    
    for i in range(len(words)):
        words[i] = words[i].lower()
        
    for i in words:
        if(i == 'dog'):
            k = 1
            return True
    
    if(k == 0):
        return False

In [ ]:
print(contains_dog('There goes a dog'))

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def dog_count(sentence):
    words = sentence.split(' ')
    k = 0
    
    for i in range(len(words)):
        words[i] = words[i].lower()
        
    for i in words:
        if(i == 'dog'):
            k+=1
       
    return k

In [ ]:
print(dog_count('There goes a dog and another dog'))

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
print(caught_speeding(90, False))

Big Ticket

In [ ]:
print(caught_speeding(81, True))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
emp_sal = [50000, 45000, 70000, 25000, 35000]
total_salary_expenditure = 0

for i in emp_sal:
    total_salary_expenditure+=i
    
print('Total salary expenditure is',total_salary_expenditure)

Total salary expenditure is 225000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
d1 = {'Empid': 13, 'Empname': 'Elumalai', 'Basicpay': 70000}
d2 = {'DeptName': 'Analytics', 'DeptId': 7}
d1.update(d2)
print(d1)

{'Empid': 13, 'Empname': 'Elumalai', 'Basicpay': 70000, 'DeptName': 'Analytics', 'DeptId': 7}